{% extends './base.html' %}

{% block title %}Sur nous{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-sm p-4 col-md-8 col-lg-6" style="background-color: #6f94af9a;">
        <h1 class="card-title text-center mb-4">Bonjour !</h1>
        <div class="card-body">
            <p class="card-text text-center fs-5">
                Vous êtes sur le projet Web de
                <span style="font-weight: bold; color: #2c3e50;">Rabah</span>,
                <span style="font-weight: bold; color: #2c3e50;">Joan</span>,
                <span style="font-weight: bold; color: #2c3e50;">Muhamad</span> et
                <span style="font-weight: bold; color: #2c3e50;">Merouane</span>.
            </p>
            <p class="card-text text-center fs-5">
                Notre application consiste à créer et manipuler des collections.
            </p>
        </div>
    </div>
</div>
{% endblock %}

