{% extends './base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-sm p-4 col-md-8 col-lg-6 text-center" style="background-color: #6f94af9a;">
        <h1 class="card-title mb-4" >Bienvenue sur l'application de collections</h1>
        <div class="card-body">
            <p class="card-text">Cliquez sur les liens dans le menu pour gérer vos collections.</p>
        </div>
    </div>
</div>
{% endblock %}
